asgiref
async-generator
attrs

certifi
cffi
cryptography
cycler
Django
fonttools
h11
idna
jieba
kiwisolver
matplotlib
mysqlclient
numpy
outcome
packaging
pandas
Pillow
pycparser
PyMySQL
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
six
sniffio
sortedcontainers
sqlparse
snowNLP
tqdm
trio
trio-websocket
tzdata
urllib3
wordcloud
wsproto
requests
lxml